<h1>Have you been to a dream spots or revise a detail regarding your dream spots?</h1>
<h3>Well, you can revise it below</h3>

<form action="/getaways/<%= @lalaland.id %>" method="POST">
	<input type="hidden" name="_method" value="patch">
	<label for="destination">Destination: </label>
	<input type="text" name=" destination">
	<br>
	<br>
	<label for="advantures">Advantures: </label>
	<input type="text" name="advantures">
	<br>
	<br>
    <label for="duration_of_stay">Duration_of_stay: </label>
	<input type="text" name="duration_of_stay">
    <br>
	<br>
    <label for="season_to_visit">Season_to_visit: </label>
	<input type="text" name="season_to_visit">
    <br>
	<br>
    <label for="location">Location: </label>
	<input type="text" name="location">
    <br>
	<br>
    <label for="saving_required">Saving_required: </label>
	<input type="text" name="saving_required">
    <br>
    <br>
	<input type="submit" value="Revise">

</form>