<style>
    body {
        margin:0;
    }

    .header_4 {
        padding: 30px;
        text-align: center;
        background: #ddd;

    }

    .header_4 h1 {
        font-size: 50px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 10% ;
        background-color: #f1f1f1 ;
        position: fixed;
        height: 100% ;
        overflow: auto;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a.active {
        background-color: #04AA6D;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    ol.getaways_index {
        list-style-type: circle;
    }

    footer.branding {
        margin-left:20% 
        padding: 20px;
        text-align: center;
        background: #ddd;
        width: 100% ;
        position: fixed;
        bottom: 0;
    }
</style>



<body>
   <div class="header_4">
        <h1>Welcome, these are all the dream vacations that were added.</h1>
    </div>

    <ul>
        <%= redirect_if_not_logged_in %>
        <li><a href="/account/<%= current_user.id %>">User Home</a></li>
        <li><a href="/getaways/new"> Add New Destination</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <div style= "margin-left: 10% ; width: 12%; position: fixed; background: white; ">
        <p>
            <% @lalalands.each do |g|%>
                <ol class="getaways_index">
                    <a href="/getaways/<%= g.id %>"><li><%= g.destination %> </li></a>
                </ol>
            <%end%>
        </p>
    </div>

</body>