
<div class="u.index">
    <h3>Welcome, these are all the dream vacations for my self</h3>

    <% @lalalands.each do |g|%>
    <ul>
        <li><a href="/getaways/<%= g.id%>"> <%= g.destination %></a></li>
    
    </ul> 
    <% end %>
    <br>
    <br>
    <%=  redirect_if_not_logged_in %>
    <h5><a href="/account/<%= current_user.id %>">Click here</a> to return to your profile page.</h5>

    <br>
    <h5><a href="/logout">Click here</a> to log out.</h5>
</div>
