<style>

    
    h3{
        color: black;
        font-size: 15px;
        line-height: 12px;
        text-align: center;
      }
    
      p{
        color: black;
        font-size: 15px;
        line-height: 12px;
        text-align: center;
      }
</style>

<h3>Hmmmmmmmmmmm~~~, is someone trying to be NAUGHTY and doing something they shouldn't be doing?</h3>
<h3>soweee, but you have not the authority to make any changes -tears- -tears-</h3>
<p>
    <a href="/getaways">Click</a> here to return to the getaway list 
    <br>
    <br>
    <a href="/logout">Click here</a> to log out.</h5>
</p>