<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }

  .content {
    position: fixed;
    top: 20px;
    background: rgba(0,0,0,0);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  #bkg2 {
    position: fixed;
    height: 100%;
    width: 100% ;
    object-fit: contain;
  }

  #button1{
    width: 70px;
    font-size: 10px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
  }

   #button2{
    width: 70px;
    font-size: 10px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
  }

  #button3{
    width: 70px;
    font-size: 10px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: not-allowed;
    border-radius: 8px;
  }

  #button1:hover {
    background: #008000 ;
    color: black;
  }

  #button2:hover {
    background: #fde401 ;
    color: black;
  }

  #button3:hover {
    background: #ff1100 ;
    opacity: 0.8;
  }
</style>


<body>
  <video playsinline autoplay muted loop id="bkg2">
    <source src="https://img-baofun.zhhainiao.com/pcwallpaper_ugc/preview/d0b81fb117631a005c08d4bfcf1da632_preview.mp4" type="video/mp4"> 
  </video>

  <div class="content">
    <h3>Well well well~~~, it seems like someone is up to no good eh ?</h3>
    <h3>Soweee, but your Mischief was forseen, better luck with deleting the article. -wink- -wink-</h3>

        <p>To return to the getaway list <br><a href="/getaways"><button id="button1">Click Here</button></a></p>
        <p> To log out <br><a href="/logout"><button id="button2">Click Here</button></a></p>
        <p> Insist on editting <br><button id="button3">Click Here</button></p>
    
  </div>
    
</body>
