<style>
    body {
        margin:0;
    }

    .header_2 {
        padding: 30px;
        text-align: center;
        background: #ddd;
    }

    .header_2 h1 {
        font-size: 50px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 10% ;
        background-color: #f1f1f1 ;
        position: fixed;
        height: 100% ;
        overflow: auto;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a.active {
        background-color: #04AA6D;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    ol.user_getaways {
        list-style-type: circle;
    }

    footer.branding {
        margin-left:20% 
        padding: 20px;
        text-align: center;
        background: #ddd;
        width: 100% ;
        position: fixed;
        bottom: 0;
    }
</style>



<body>

    <div class="header_2">
        <h1>What would you like to do?</h1>
    </div>

    <ul>
        <li><a href="/getaways">Index</a></li>
        <li><a href="/getaways/new"> Add New Destination</a></li>
        <li><a href="/logout">Logout</a> </li>
    </ul>

    <div style= "margin-left: 10% ;padding:1px 16px; width: 88%; position: relative; ">
        <h3>Here are all the getaways you created: </h3>
        <p>
            <% @lalalands.each do |g| %>
                <% if g.user_id == current_user.id %>
                    <ol class="user_getaways">
                        <a href="/getaways/<%= g.id %>"><li><%= g.destination %> </li></a>
                    </ol>
                <% end %>
            <% end %>
        </p>
    </div>

    <footer class="branding">
        <small>&copy; 2021 
        <strong>SinatraProject</strong></small>
    </footer>

</body>