<style>
    body {
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        background-repeat: no-repeat;
        background-attachment: fixed;    
        background-position: center;
    } 
    
    h3{
        color: black;
        font-size: 15px;
        line-height: 12px;
        text-align: center;
      }
    
      p{
        color: black;
        font-size: 15px;
        line-height: 12px;
        text-align: center;
      }
</style>


<h3>DOH! It seems like you filled in the  account info or password incorrectly</h3>
<h3>Which field did you fill out incorretly? Why don't you try again and find out!</h3>

<p><a href="/login">Click</a> here to return to the signup page for another try</p>