<h1>Welcome back fellow slacker, please enter your username and password to return to your dream world!</h1>
<br>




<form action="/login" method="POST">

	<label for="username">Username: </label>
	<input type="text" name="username" >
	<br>
	<br>
    <label for="password">Password: </label>
	<input type="text" name="password" >
	<br>
	<br>
	<input type="submit" value="Log in">

</form>