<h3>Welcome back fellow slacker, please enter your username and password to return to your dream world!</h3>
<br>

<form action="/login" method="POST">

	<label for="username">Username: </label>
	<input type="text" name="username">
	<br>
	<br>
    <label for="password">Password: </label>
	<input type="password" name="password">
	<br>
	<br>
	<input type="submit" value="Log in">

</form>