<style>
	{
    	box-sizing: border-box;
	}

	body{
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 18px;
  	}

	.content2 {
		position: relative;
		background: rgba(146, 196, 230, 0.5);
		padding: 2rem;
		width: 15%;
		float: right;
	}

	#bkg2 {
		position: fixed;
		object-fit: cover;
		min-width: 100%; 
		min-height: 100%;
	} 

	p{
		text-align: left;
		color: #f1f1f1;
	}

	input[type=text] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 2px ;
		border-radius: 4px;
	}

	

</style>

<video playsinline autoplay muted loop id="bkg2">
<source src="https://wallpaperm.cmcm.com/live/preview_video/43e6cc94ab9591be7c2cc3da2e2c20aa_preview.mp4" type="video/mp4"> 
</video>

<div class="content2">
	<h3>Greetings friend!!!</h3>
	<p>
	Do you often dream about a relaxing getaway?
	<br>
	<br>
	Are you thinking about all the fun and cool activity you can be doing right now at that getaway ? 
	<br>
	<br>
	Or perhaps you have an awesome vacation spot in your mind right now?
	<br>
	<br>
	
	Well, why not save this great place and plan to visit it in person or drool over these thoughts before it slips away! 
	<br>
	<br>
	Sign up with us and we can help save your "Wonderlands" and all its fun adventures in one place.
	<br>
	<br>

	If you are already one of us slackers,  
	<a href="/login">Click</a> here to verify your account and re-enter your daydreaming kingdom!!!!

	<h3>Join us here!!!</h3>
		<form action="/signup" method="POST">

			<label for="email">Email: </label>
			<input type="text" name="email" placeholder="Enter your email address">
			<br>
			<br>
			<label for="username">Username: </label>
			<input type="text" name="username" placeholder="Enter a username" >
			<br>
			<br>
			<label for="password">Password: </label>
			<input type="password" name="password" placeholder="Enter a password">
			<br>
			<br>
			<input type="submit" value="Sign up">

		</form>
		<br>
	
		</p>


</div>


