<style>
    body {
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        background-repeat: no-repeat;
        background-attachment: fixed;    
        background-position: center;
    } 
    
    h3{
        color: black;
        font-size: 15px;
        line-height: 12px;
        text-align: center;
      }
    
      p{
        color: black;
        font-size: 15px;
        line-height: 12px;
        text-align: center;
      }
</style>


<h3>Uh Oh, It seems like you did not fill in all the requested field.</h3>
<h3>Remember to fill out all of the fields, otherwise, you will come back to this page again.</h3>

<p><a href="/signup">Click</a> here to return to the signup page for another try</p>