<div class="container">
  <header>Project 2 Sinatra webpage </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome fellow day dreamers!!</h2>

    <div class="content">
      <p>

      What vacation spot do you have on your mind today? Are you thinking about a really fun activity or 
      a chilled relaxing getaway location? Well, why not save this great place and plan to visit it in
      person or drool over it before it slips away. 
      
      Sign up with us and we can help save your "Wonderland" and all its ventures in one place.
      
      *Click here to creat an account with us!!! 
      *For returning dreamers, Click here to log in and see your dream getaway spot
      
      </p>
    </div>

    <div class="sidebar">
      <h5>Join the day dream community or step back to your lalaland here!</h5>
      <br>
      <a href="/signup">Click</a> here to create an account with us!!!!
      <br>
      <a href="/login">Click</a> here to verify your account and re-enter your daydreaming kingdom!!!!
      <br>
    </div>

  </div>
</div>
